<h1>A Node View</h1>
{{message}}
<form action="/node-mongodb-mongoose-user" method="post">
    <input type="text" name="emailBody">
    <button type="submit">Enviar</button>
</form>

<h1>Dados de User Recuperados</h1>

<h2>Nome: </h2>{{firstNameV}} <br>
<h2>Sobrenome: </h2>{{lastNameV}} <br>
<h2>Senha: </h2>{{passwordV}} <br>
<h2>Email: </h2>{{emailV}} <br>
<h2>Mensagens: </h2>{{messagesV}} <br>